@include media-breakpoint-up(lg) {
  .clients-img {
    transition: all 0.2s linear;
    filter: opacity(0.7);
    &:hover {
      transform: scale(1.1);
      filter: opacity(1);
    }
  }
  .portfolio-card {
    .play_button {
      top: 150%;
    }
    &:hover {
      .play_button {
        top: 50%;
      }
    }
  }
  .swiper-pagination-total {
    font-size: 40px !important;
  }
  .swiper-pagination-current {
    font-size: 45px !important;
  }
  .top-lg-75 {
    top:75% !important
  }
  .awards{
    .awards-image {
      width: auto;
      height:250px;
    }
    .awards-title{
      font-size:8rem !important
    }
  }
  .post-card {
    --transiton-card : 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    .card-img {
      transition: all var(--transiton-card);
    }
    .portfilio_detail {
      transition: transform var(--transiton-card) 0.15s;
      transform: translateX(-100%);
    }
    .slogan {
      transition: transform var(--transiton-card) 0.15s;
      transform: translateX(100%);
    }
    .card_detail {
      transition: opacity var(--transiton-card);
      opacity: 0;
    }
    &:hover {
      .card-img{
        filter: brightness(0.4);
      }
      .slogan , .portfilio_detail {
        transform: translateX(0);
      }
      .card_detail {
        opacity: 1;
      }
    }
  }
  .hero-slide {
    height: 100vh !important;
  }
}
@include media-breakpoint-down(lg) {
  .swiper-pagination-current {
    font-size: 35px !important;
  }
  .swiper-pagination-total {
    font-size: 30px !important;
  }
  .awards{
    .awards-image {
      object-fit: contain;
      width: auto;
      height:150px;
    }
    .awards-title{
      font-size:5rem !important
    }
  }
  .play-size{
    width:70px!important;
    height:70px!important;
  }
  .rotate {
    transition: transform 150ms linear;
    transform: rotate(90deg);
  }
  .vh-lg-50 {
    min-height: 50vh !important;
  }
  .start-lg-50 {
    left:50% !important
  }
  .hero-slide {
    height: 50vh !important;
  }
}
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(sm) {
  .fs-1 {
    font-size: calc(1.325rem + 1.4vw) !important;
  }

  .fs-2 {
    font-size: calc(1.275rem + 0.8vw) !important;
  }

  .fs-3 {
    font-size: calc(1.25rem + 0.5vw) !important;
  }

  .fs-4 {
    font-size: calc(1.225rem + 0.2vw) !important;
  }

  .fs-5 {
    font-size: 0.9rem !important;
  }

  .fs-6, p, span {
    font-size: 0.75rem !important;
    line-height: 1.7;
  }

  small, .small {
    font-size: 0.875rem !important;
  }
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-down(md) {
  .product-card {
    .modal {
      .modal-body {
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }
  .small-md-down {
    font-size: $small-font-size !important;
  }
}
@media (min-width:2400px){
  .portCat-button-next , .services-button-next {
    margin-right: -6rem!important;
  }
  .portCat-button-prev , .services-button-prev {
    margin-left: -6rem!important;
  }
  .service-home {
    height: 350px !important;
  }
  .display-1 {
    font-size: 8rem!important;
  }
  .display-2 {
    font-size: 7rem!important;
  }
  .display-3 {
    font-size: 6rem!important;
  }
  .display-4 {
    font-size: 5.5rem!important;
  }
  .display-5 {
    font-size: 5rem!important;
  }
  .display-6 {
    font-size: 4rem!important;
  }
  .fs-1 , h1 {
    font-size: 5rem !important;
  }

  .fs-2 ,h2 {
    font-size: 4rem!important;
  }

  .fs-3 ,h3 {
    font-size: 3.5rem !important;
  }

  .fs-4 , h4 {
    font-size: 2.5rem !important;
  }

  .fs-5 , h5 {
    font-size: 1.8rem !important;
  }

  .fs-6, h6,  p, span, div ,a {
    font-size: 1.4rem !important;
    line-height: 1.7;
  }
  small, .small {
    font-size: 1rem !important;
  }

  .portfolio-modal .modal-dialog{
    max-width:80vw;
  }
  .service-modal .modal-dialog {
    max-width: 50vw;
  }
  .container {
    max-width: 1900px;
  }
}

