header {
  transition: all 0.3s linear;
  .menu-bar1, .menu-bar2, .menu-bar3 {
    height: 0.2rem;
    background-color: #fff;
    margin: 0.5rem 0;
    transition: 0.4s;
  }

  .menu-bar1, .menu-bar3 {
    width: 2.5rem;
  }

  .menu-bar2 {
    width: 1.5rem;
    margin-left: auto;
  }
}

.navbar-brand {
  #logo {
    fill: $primary;
    transition: all 0.5s linear;
  }

  #brand, #slogan {
    fill: $white;
    transition: all ease-in-out 0.3s;
  }
}

.scrolled {
  .navbar-brand {
    #brand, #slogan {
      opacity: 0 !important;
    }

    #logo {
      fill: $white;
      transform: translateX(-40%);
    }
  }
}
.translate-top {
  transform: translateY(-100%) !important;
}