.portfolio-nav-item{
  li {
    min-width: fit-content;
  }
}

.Portfolio-tab {
  background-color: #f1f1f1!important;
  color:$primary;
  &.active {
    background-color:$primary!important;
    color:#f1f1f1!important;
  }
}

// portfolio
.portfolio-dialog {
  transform: translateY(-50%) !important;
  top:50%;
}
.portfolio-card {
  .play_button {
    transition: all 0.4s ease-out;
    width: 80px;
    height: 80px;
    i {
      line-height: 0;
      cursor: pointer;
    }
  }

  img {
    transition: 0.3s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}