.portfolio-nav-item{
  li {
    min-width: fit-content;
  }
}

.Portfolio-tab {
  background-color: #f1f1f1!important;
  color:$primary;
  &.active {
    background-color:$primary!important;
    color:#f1f1f1!important;
  }
}

// portfolio
.portfolio-dialog {
  transform: translateY(-50%) !important;
  top:50%;
}
.portfolio-card {
  .play_button {
    transition: all 0.4s ease-out;
    width: 80px;
    height: 80px;
    i {
      line-height: 0;
      cursor: pointer;
    }
  }

  img {
    transition: 0.3s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
.portfolio-nav-item {
  .has-subcategories {
    .portfolio-sub {
      transition: all 0.3s linear;
      transform: translateY(-10px);
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      .portfolio-sub {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.portCat-button-next , .portCat-button-prev {
  transition: all 0.5s linear;
  &:hover {
    transform: scale(1.15);
  }
}
.swiper-button-disabled {
  opacity:0.5;
}
//.portfolio-nav-item {
//  overflow-x: scroll;
//  overflow-y: visible;
//}